extends layout

block content
	//- -for(let i =0; i < result.length; i++)
	//- 	li #{result[i].name}
	-if(name)
		h1 Welcome #{name}
	.band-image.col-sm-6.col-sm-offset-3.text-center
		h1 #{team.title}
		img(src=`/images/${team.imageUrl}`, alt="")
		a(href=`/vote/up/${team.id}`)
			button.btn.btn-success(type="submit") Rocks
		a(href=`/vote/down/${team.id}`)
			button.btn.btn-danger(type="submit") Sucks