extends layout

block content
	h1 welcome to the standings page
	.container
		.row
			.col-sm-8.col-sm-offset-2.text-center
				button#all-bands.btn.btn-wanring All Teams
				button#top-rated.btn.btn-success Top Rated
				button#worst-rated.btn.btn-danger Worst Rated
				.col-sm-6.grid
					-for(let i=0; i <standingsResults.length; i++)
						.col-sm-12(class=`${standingsResults[i].cls}`)
							h3 #{standingsResults[i].title}
							.col-sm-6
								img(src=`/images/${standingsResults[i].imageUrl}`, alt="")
							.col-sm-3.downvotes
								img(src="/images/thumbsUp.png", alt="")
								p #{standingsResults[i].upVotes}
							.col-sm-3.upvotes
								img(src="/images/thumbsDown.png", alt="")
								p #{standingsResults[i].downVotes}